
	
	Welcome to my personal blog about marketing technology. I&nbsp;am Alan Chatfield, Marketing Operations Consultant at <a href="//www.crmtdigital.com">CRMT Digital</a>. <br><br>On these pages, I discuss how marketers can make the most effective use of their martech stack.<br><br>

						<a href="/about/">Continue reading <span aria-hidden="true">→</span></a>


