I am Alan Chatfield, Senior Digital Marketing Strategist at <a href="//www.crmtechnologies.com">CRMT</a>. 
	<br><br>										
		Welcome to my personal blog. I write about marketing technology and B2B marketing, with a primary focus on how marketers can make the most effective use of their martech stack.<br><br>

						<a href="/about/">Continue reading <span aria-hidden="true">→</span></a>