<section class="site-nav">
	<nav id="navigation">
		<div class="container">
			<a id="brand" href="/opinion/">	
				<img src="{{@site.url}}/assets/images/mvtglyph-fff.png" alt="">				
				<span>Alan Chatfield<br><em>Marketing via Technology</em> 			
			</a>	
		</div>
	</nav>
</section>



