<section class="site-nav">
	<nav id="navigation">
		<div class="container">
			<a id="brand" href="/">	
				<amp-img src="{{@site.url}}/assets/images/mvtglyph2-fff.png" height="40" width="36" alt=""></amp-img>			
				<span>Alan Chatfield<br><em>Marketing via Technology</em></span> 			
			</a>
			<div class="tagline">
				<button class="btn btn-outline"><i class="fas fa-bars"></i></button>
				{{navigation}}
			</div>	
		</div>
	</nav>
</section>



