	<a href='http://twitter.com/alan_chatfield' target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
	<a href='https://www.linkedin.com/in/alan-chatfield' target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>	
	<a class="icon-feed" href="{{@site.url}}/rss/" title="RSS Feed"><i class="fas fa-rss fa-lg"></i></a>
