{{!< defaultlist}}

	<div class="blog-cover index-cover" style="background-image: url(/content/images/2018/11/pexels-photo-97077.jpeg);">
		<a href="/marketing/">	
			<section style="background-color: rgba(0, 0, 0, 0.5)">	
				<div class="container">
					<h1>Digital Transformation</h1>
					<h3>Views from the intersection of digital marketing and enterprise technology</h3>
				</div>				
			</section>
		</a>			
	</div>

{{! The main content area on the homepage }}
<article class="container">
    {{> loop }}
	
    {{pagination }}	
</article>
